.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;

  margin-top: 90px;
}

.photo-card {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 7px 7px;
}

.image {
  position: relative;
  padding: 0px 0px 90% 0px;
  background: url('https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif')
    center / 50px no-repeat;
}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

img {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

b {
  margin-bottom: 5px;
}
